<script>
function getRequest() 
{
   var url = location.search;
   var theRequest = new Object();
   if (url.indexOf("?") != -1) {
      var str = url.substr(1);
      strs = str.split("&");
      for(var i = 0; i < strs.length; i++) 
         theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
   }
   return theRequest;
}

var request = getRequest();
var curTag = request["cat"];

console.log(curTag);
</script>
{% for category in site.categories %}
<h2>{{ category | first }}</h2>
</span>{{ category | last | size }}</span>
<ul class="arc-list">
    {% for post in category.last %}
        <li>{{ post.date | date:"%d/%m/%Y"}}<a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endfor %}
